{{ partial "header.html" . }}

<main>

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}

<ul id="pages">
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range (where $pages "Section" "!=" "") }}
  <li class="page-listitem" style="display: flex; justify-content: space-between;">
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
    <span class="date">{{ .Date.Format "2006/01/02" }}</span>
  </li>
  {{ end }}
</ul>

{{ if .IsHome }}

<p style="text-align: center;">~</p>

<ul id="projects">
  <li>
    <div class="project">
      <div class="info" style="display: flex; justify-content: space-between;">
        <a href="https://drive.google.com/file/d/14ZEDs-uEaxr4yYYVek-3aZjfGnPsTNcj/view?usp=sharing">Eesti keel matemaatikakirjanduses</a>
        <span class="date">Sügis 2021</span>
      </div>
      <span class="desc">
        Kuidas on muutnud eesti keele kasutus matemaatikakirjanduses?
        Millal toimusid suurimad arengud?
        Kes mõjutasid enim matemaatilise keele kujunemislugu?
      </span>
    </div>
  </li>

  <li>
    <div class="project">
      <div class="info" style="display: flex; justify-content: space-between;">
        <a href="https://twitter.com/unitartu_prgrss">UniTartu Progress</a>
        <span class="date">Kevad 2021</span>
      </div>
      <span class="desc">
        2021 kevadsemestri progressi jälgiv Twitteri bott. Koodi saab vaadata <a href="https://github.com/renepiik/unitartu_progress">siit</a>.
      </span>
    </div>
  </li>

  <li>
    <div class="project">
      <div class="info" style="display: flex; justify-content: space-between;">
        <a href="https://github.com/renepiik/Raamatukogu">Raamatukogu</a>
        <span class="date">Kevad 2020</span>
      </div>
      <span class="desc">
        Java programm isikliku raamatukogu haldamiseks.
        Kasutatav nii käsurea kaudu kui ka graafilise liidese abil.
      </span>
    </div>
  </li>

  <li>
    <div class="project">
      <div class="info" style="display: flex; justify-content: space-between;">
        <a href="https://drive.google.com/file/d/1RYWWmSwycsf7p6eJEvgGJaHFQq8_t7Pd/view">Lazare Carnot' elulugu and Carnot' teoreem</a>
        <span class="date">Kevad 2018</span>
      </div>
      <span class="desc">
        Uurimistöö prantsuse poliitiku, inseneri ja matemaatiku Lazare Carnot' eluloost ning Carnot' teoreemist. 
        Töö esimene pool jutustab Carnot' värvika eluloo ja kirjeldab tema rolli nii Prantsuse poliitikas, matemaatikas kui ka Napoleoni sõjaväe kaasajastamises.
        Teine osa pakub Carnot' teoreemile välja uue analüütilise tõestuse.
      </span>
    </div>
  </li>
</ul>

<p style="text-align: center;">~</p>

<ul id="links">
  <li class="page-listitem" style="display: flex; justify-content: space-between; align-items: center;">
    <div>
      <a href="https://www.youtube.com/watch?v=zHU1xH6Ogs4">On Mathematical Maturity - Thomas Garrity (1/2)</a>
      <br>
      <a href="https://www.youtube.com/watch?v=4HFyWC-YtIk">On Mathematical Maturity - Thomas Garrity (2/2)</a>
    </div>
    <span class="link-type link-type-v">video</span>
  </li>

  <li class="page-listitem" style="display: flex; justify-content: space-between; align-items: center;">
    <a href="https://www.dpmms.cam.ac.uk/~wtg10/2cultures.pdf">The Two Cultures of Mathematics - W. T. Gowers</a>
    <span class="link-type link-type-a">artikkel</span>
  </li>

  <li class="page-listitem" style="display: flex; justify-content: space-between; align-items: center;">
    <a href="https://math.ucr.edu/home/baez/boring.pdf">Why Mathematics is Boring - John C. Baez</a>
    <span class="link-type link-type-a">artikkel</span>
  </li>

  <li class="page-listitem" style="display: flex; justify-content: space-between; align-items: center;">
    <a href="https://lsa.umich.edu/psych/junz/Publication/Peter%20Casazza.pdf">A Mathematician's Survival Guide</a>
    <span class="link-type link-type-a">artikkel</span>
  </li>

  <li class="page-listitem" style="display: flex; justify-content: space-between; align-items: center;">
    <a href="http://www.math.toronto.edu/ivan/mat327/?resources">Toronto Ülikooli topoloogia kursus</a>
    <span class="link-type link-type-c">kursus</span>
  </li>
</ul>

<p style="text-align: center;">~</p>

{{ end }}

</main>

<div id="left-sidebar">
  
</div>

<div id="right-sidebar">
  <div class="sidebar-block minust">
    <div class="sidebar-block-header">
      <span class="sidebar-block-title">Minust</span>
    </div>
  
    <div class="sidebar-block-content">
      Õpin Tartu Ülikoolis matemaatikat ja teoreetilist informaatikat. 
      Praegu olen vahetusüliõpilane Helsingi ülikoolis ning kui kõik hästi läheb, lõpetan bakalaureuse järgmise aasta kevadel. 
      Vabal ajal mängin lauatennist, loen raamatuid või prokrastineerin r/math-is.

      <a href="mailto:renepiik@gmail.com">renepiik@gmail.com</a>
      <a href="https://www.dropbox.com/s/od70onsooyj16td/CV%20-%20Ren%C3%A9%20Piik.pdf?dl=0">Minu CV</a>
    </div>
  </div>
  
  <div class="sidebar-block">
    <div class="sidebar-block-header">
      <span class="sidebar-block-title">Raamatud ...</span>
    </div>
  
    <div class="sidebar-block-content">
      <span style="margin-left: auto;">... pooleli</span>
      <span><strong>Americanah</strong> Chimamanda N. Adichie</span>
      <!-- <span style="margin: 0 auto;">~</span> -->
      <span><strong>Kõndimise filosoofia</strong> Frédéric Gros</span>
      <!-- <span style="margin: 0 auto;">~</span> -->
      <span><strong>Infinite Powers</strong> Steven Strogatz</span>
      <!-- <span style="margin: 0 auto;">~</span> -->
      <span><strong>A Ghost in the Throat</strong> Doireann Ní Ghríofa</span>
  
      <span style="margin-left: auto;">... läbi</span>
      <span><strong>Pariis</strong> Tõnu Õnnepalu</span>
    </div>
  </div>

  <div class="sidebar-block">
    <div class="sidebar-block-header">
      <span class="sidebar-block-title">Muusika</span>
    </div>
  
    <div class="sidebar-block-content">
      <span><strong>CAPRISONGS</strong> FKA Twigs</span>
      <span><strong>iridescence</strong> Brockhampton</span>
      <span><strong>Sometimes I Might Be Introvert</strong> Little Simz</span>
      <span><strong>Untourable Album</strong> Men I Trust</span>
      <span><strong>Madvillainy</strong> MF DOOM</span>
    </div>
  </div>
</div>

{{ partial "footer.html" . }}
