{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}

<ul id="pages">
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range (where $pages "Section" "!=" "") }}
  <li class="page-listitem" style="display: flex; justify-content: space-between;">
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
    <span class="date">{{ .Date.Format "2006/01/02" }}</span>
  </li>
  {{ end }}
</ul>

{{ if .IsHome }}

<h2>Projects</h2>

<ul>
  <li>
    <div class="project">
      <div class="info" style="display: flex; justify-content: space-between;">
        <a href="https://drive.google.com/file/d/14ZEDs-uEaxr4yYYVek-3aZjfGnPsTNcj/view?usp=sharing">The Estonian language in mathematical literature</a>
        <span class="date">Fall 2021</span>
      </div>
      <span class="desc">
        A report on how Estonian vocaburaly has changed in mathematical texts over the 150 years they have been in print.
        I observe when the biggest changes in mathematical language took place and who were the driving figures behind modernizing it.
      </span>
    </div>
  </li>

  <li>
    <div class="project">
      <div class="info" style="display: flex; justify-content: space-between;">
        <a href="https://twitter.com/unitartu_prgrss">UniTartu Progress</a>
        <span class="date">2020-2021</span>
      </div>
      <span class="desc">Twitter bot for tracking the progress of the ongoing semester at the University of Tartu</span>
    </div>
  </li>

  <li>
    <div class="project">
      <div class="info" style="display: flex; justify-content: space-between;">
        <a href="https://github.com/renepiik/Raamatukogu">Personal Library</a>
        <span class="date">Spring 2020</span>
      </div>
      <span class="desc">A Java app for managing your personal library. Accessible by command line and by using a GUI.</span>
    </div>
  </li>

  <li>
    <div class="project">
      <div class="info" style="display: flex; justify-content: space-between;">
        <a href="https://drive.google.com/file/d/1RYWWmSwycsf7p6eJEvgGJaHFQq8_t7Pd/view">Lazare Carnot's biography and proof of Carnot's theorem</a>
        <span class="date">Spring 2018</span>
      </div>
      <span class="desc">
        A paper on the French politician, engineer and mathematician Lazare Carnot and an analytic proof of Carnot's theorem. 
        The first half of the paper explores his exciting life, his role in French politics and contributions to Napoleon's war efforts. 
        The second half proposes an alternative analytic proof to Carnot's theorem.
      </span>
    </div>
  </li>
</ul>

{{ end }}

{{ partial "footer.html" . }}
