{{ partial "header.html" . }}

{{ if .Params.cover }}

<div class="cover-parent">
    <img src="{{.Params.cover}}" class="cover-image" alt="Cover">
</div>

{{end}}

<!--
style="background-image: url({{.Params.cover}}); background-repeat: no-repeat; background-size: cover;"
-->

<main>
    <div class="article-meta" >
        <h2><span class="title">{{ .Title | markdownify }}</span></h2>
        <span class="subtitle">{{ .Params.subtitle | markdownify }}</span>
        {{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }}
        {{ if (gt .Params.date 0) }}<h2 class="date">{{ .Date.Format "2006/01/02" }}</h2>{{ end }}
        {{with .Params.time_to_read}}<span>{{ . }} minutit</span> {{end}}
    </div>

    <article>
        {{ .Content }}
    </article>

{{ if (eq .Title "Raamatud") }}
    <div class="big-books-list">
        {{ range $.Site.Data.data.books }}
            {{ partial "book.html" . }}
        {{ end }}   
    </div>
{{ end }}

</main>

<button id="scroll-back-up" onclick="scrollBackUp()">keri üles</button>

<script>
function scrollBackUp() {
    if (window.pageYOffset > 0) {
        window.scrollTo(0, 0);
    }
}
</script>

{{ partial "footer.html" . }}
